
#head { background: #ECF3D3 url(../images/headbg.jpg) 0 0 repeat-y; }

#navi {
	left: 0;
	height: 32px;
	top: 4px;
	position: relative;
}

#navi li {
	-clear:right;
	display:inline;
	float:left;
}

#navi .naviLevel1 a { color: #666666; }

#navi .naviActiveParent a { color: #ffffff !important; }

#navi li.menuhighlight {
	background: url(../images/navil.gif) 0 0 no-repeat;
	float: left;
}

#navi .menuhighlight a {
	color: ghostwhite;
	background: url(../images/navir.gif) no-repeat;
}

#subnavi {
	height: 29px;
	-height: 28px;
	width: 100%;
	background: #565656 url(../images/subnavibg.gif) 0 0 repeat-x;
	overflow:hidden;
}

#subnavi a {
	float: left;
	padding: 8px 16px 5px 16px;
	color: white;
}

#infobar {
	clear:both;
	padding: 13px 16px 8px 16px;
	background: #E9F1D6 url(../images/infobarbg.gif) 0 0 repeat-x;
	position: relative;
}

* html #infobar { width: 100%; }

#infobar a { color: #FF6913; }

#navi ul { margin:10px 0px 0px 0px; }

#navi ul ul {
	position:absolute;
	top:34px;
	-top: 33px;
	left:0px;
}

#navi ul {
	margin:0;
	padding:0;
	-padding: -10px !important;
	-margin: -4px;
	list-style-type: none;
	display: inline;
}

/****************************************
Section: Overall
Element: Navigation
***************************************/


#navi { white-space:nowrap; }

.mainNaviPoint {
	background:transparent url(/images/navir_inactive.gif) no-repeat scroll right top !important;
	color:#666666 !important;
	display:inline !important;
	float:left !important;
	margin-left:5px !important;
	padding:6px 8px 6px 3px !important;
}

.navipoint {
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#navi li.navipoint {
	background: url(/images/navil_inactive.gif) 0 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-top:-8px;
}

#navi ul li ul li a {
	background:transparent url(/images/menuborder_grey.gif) no-repeat scroll right top !important;
	color: #fff !important;
	font-weight: normal !important;
	margin-top:-8px;
	-margin-top: -2px;
	padding: 9px 16px 10px;
	white-space:nowrap;
}

#navi ul li ul li a:hover { background-image: url(../images/navir_subbg_edit.gif) !important; }

.naviLevel1 {
	background:transparent url(/images/navil.gif) no-repeat scroll 0 0;
	float:left;
}

.naviLeaf { background: green; }

.naviLevel2 .naviLeaf {
	font-size: 9pt;
	margin-left:0 !important;
	padding-left:16px !important;
}

.naviActiveParent a {
	background:transparent url(/images/navir.gif) no-repeat scroll right top !important;
	color:ghostwhite;
	display:inline;
	float:left;
	padding:6px 8px 6px 3px;
}

.naviLevel1,
.naviActiveParent {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt !important;
	font-weight:bold;
}

.naviLevel1 a {
	background:transparent url(/images/navir_inactive.gif) no-repeat scroll right top;
	display:inline;
	float:left;
	margin-left:5px !important;
	padding:6px 8px 6px 3px;
}

.naviLevel1 { margin-left: 7px; }

.naviActiveParent {
	background:transparent url(../images/navil.gif) no-repeat scroll 0 0 !important;
	float:left;
}

.naviLevel1 {
	background:transparent url(../images/navil_inactive.gif) no-repeat scroll 0 0;
	float:left;
}

#navi .navipoint a {
	float: left;
	display:inline;
	padding: 6px 8px 6px 3px;
	margin-left: 5px;
	color: #666666;
	background: url(../images/navir_inactive.gif) top right no-repeat;
}

.navipointsmall a {
	background: transparent url(../images/menuborder_grey.gif) top right no-repeat;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

.subnavipoint,
.navipointsmall a:hover { margin: 0; }

/****************************************
Section: Overall
Element: Search
***************************************/

input.navisearch {
	background-color: white;
	padding: 5px 7px 1px 7px;
	display: block;
	margin-bottom: 10px;
	color: #565656;
	font-weight:bold;
	font-size:85%;
}

.navisearch {
	background: transparent url(../images/navisearch.gif) 0 0 no-repeat;
	width: 162px;
	height: 19px;
	position: absolute;
	right: 10px;
	top: 13px;
}

.naviSearchBtn {
	position: absolute;
	z-index:1;
	top: 2px;
	right: 3px;
}

.naviSearchClose {
	margin:2px 3px 0 0;
	position:absolute;
	right:0;
}

.navisearch input {
	padding:0px;
	border:0px;
	width: 132px;
	background-color: white;
	color: #565656;
	position: absolute;
	left: 8px;
	top:2px;
}

#naviMail {
	left:300px;
	position:absolute;
	width:50px;
	margin-top: 6px;
}

#naviRequest {
	left:350px;
	position:absolute;
	width:50px;
	margin-top: 6px;
}

#naviRequest img,
#naviMail img { margin-top: 1px; }

#naviMail a,
#naviRequest a {
	color:#666666 !important;
	float:left;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size:10pt !important;
	font-weight:bold !important;
	margin-left:10px;
}

/****************************************
Section: Overall
Element: INFO BAR
****************************************/

.infohead {
	background:transparent url(../images/infooval.png) 0px 0px no-repeat;
	width: 41px;
	height: 17px;
	padding: 1px 10px 4px 7px;
	position: absolute;
	left: 15px;
	top: 11px;
}

.headinfo {
	background: url(../images/sign_up.gif) 0px 0px repeat-x;
	position: absolute;
	right: 20px;
	top: 5px;
	padding: 8px 10px 9px 10px;
	display: block;
	border-left: 1px #D6DABF solid;
	border-right: 1px #D6DABF solid;
	white-space: nowrap;
}

.headinfofb {
	background: transparent url(../images/facebook.png) 100% 50% no-repeat;
	position: absolute;
	right: 20px;
	top: 5px;
	padding: 8px 23px 9px 10px;
	display: block;
	white-space: nowrap;
	color: #009DDF !important;
}