img {
    border: 0;
    display: block;
  }
  
  p {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
  }
  
  form {
    margin: 0;
    padding: 0;
  }
  
  hr {
    display: none;
  }
  
  table, td, input, textarea, select, button {
    font-family: Verdana, sans-serif;
    font-size: 1em;
  }
  
  .clr {
  clear:both;
  }
  
  * html .clr { height: 1px; }
  
  .channelClr {
      height: 4px;
      overflow-x:hidden;
      overflow-y:hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 0.7em;
    background: white;
    color: #666;
    text-align: center;
  }
  
  .bodybg {
    background: white url(../images/bodybg.gif) center top repeat-y;
    text-align: left;
    margin: 0 auto;
    width: 810px;
  }