/****************************************
Section: mpLogin
Element: Allover, Button
***************************************/

.login_input input {
    width:100%;
  }
  
  #loginLightbox {
    width: 345px;
    padding: 0px;
    margin:0px;
  }
  
  .lightboxButton {
      background:transparent url(/images/arrow_right.png) no-repeat scroll right 3px;
      cursor: pointer;
      height:25px;
      padding:0 22px 5px 0;
      color: #009DDF;
      float: right !important;
      position:relative;
      right:0;
      top:0;
      border: 0px !important;
  }
  
  *+html .lightboxButton {
      padding:2px 10px 5px 0 !important;
  
  }
  
  /****************************************
  Section: mpRegistration
  Element: Container, labelfield
  ***************************************/
  
  #registration_form {
    padding:0px;
      margin:0px;  
    width:345px;
  }
  
  .selectGender label {
      float:right;
      margin-top:2px;
      width:170px;
      border: 0px;
  }
  .selectGender {
      float:right;
      margin-top:-16px !important;
      width:200px;
      border: 0px;
  }
  
  /****************************************
  Section: Liste Beobachten
  Element: Checkboxes
  ***************************************/
  
  #observe_form label {
      width:274px !important;
  }