html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.5em;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #ff6913;
  transition: 0.3s ease-in-out;
}
a:hover {
  border-bottom: 1px solid #ff6913;
}

img {
  max-width: 100%;
  height: auto;
}
.logo {
  max-height: 50px;
}
.wrap-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
/* Header */

header .wrap-container {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
}
.content {
  max-width: 700px;
  margin-top: 130px;
  border: 1px solid #808700;
  padding: 15px;
}
h1 {
  /* margin-bottom: 30px; */
  color: #ff6913;
  font-weight: bold;
}
h2 {
  margin-bottom: 30px;
}
footer .wrap-container {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.footer-left p {
  margin-bottom: 10px;
}

.footer-left::before,
.footer-right::before {
  content: "";
  display: block;
  margin-bottom: 15px;
  height: 1px;
  width: 70px;
  border-top: 2px solid #2d8700;
}
.page-bottom .wrap-container {
  display: flex;
  padding: 15px 0;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d6d6d6;
}
.page-bottom a {
  color: #757575;
}
.page-bottom a:first-child {
  margin-right: 10px;
}
@media screen and (max-width: 1080px) {
  .wrap-container {
    padding: 0 15px;
  }
  header .wrap-container {
    padding: 15px;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  header .wrap-container,
  footer .wrap-container {
    flex-direction: column;
  }
  h1 {
    margin-top: 20px;
  }
  footer .footer-right {
    margin-top: 42px;
  }
  .page-bottom {
    margin-top: 30px;
  }
}
